name: Build Krun

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ">=1.19"
      - run: go version

      - name: "Install dependencies"
        run: go mod download

      - name: "Run tests"
        run: go test -race -count 10 -v ./...

      - name: "Build"
        run: go build -o ./bin/krun .
        env:
          CGO_ENABLED: "0"
